<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ .Title }}</title>
		{{ if and (.Site.Params.gtm_id) (templates.Exists "partials/gtm.html") }}{{- partial "gtm.html" . }}{{ end }}

	{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
	
	{{- $cache :=  now.Unix -}}
	{{- $opt := (dict "outputStyle" "compressed" "enableSourceMap" "true") -}}
	{{- $style := resources.Get "sass/main.scss" | toCSS $opt | minify -}}
	<link rel="stylesheet" type="text/css" href="{{ $style.Permalink }}?{{ $cache }}"/>

	{{ with .OutputFormats.Get "RSS" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}

	<meta name="robots" content="max-image-preview:large">
	<meta name="robots" content="max-snippet:-1,max-image-preview:standard,max-video-preview:-1">
	<meta name="description" content="{{ $.Site.Params.description }}">
	<meta property="og:locale" content="en_US">
	<meta property="og:type" content="website">
	<meta property="og:title" content="Harvester">
	<meta property="og:description" content="{{ $.Site.Params.description }}">
	<meta property="og:url" content="{{ .Site.BaseURL }}">
	<meta property="og:site_name" content="Harvester">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="Harvester">
	<meta name="twitter:description" content="{{ $.Site.Params.description }}">
	<link rel="canonical" href="{{ .Site.BaseURL }}">
	<script type="application/ld+json">{"@context":"https://schema.org","@type":"WebSite","url":"https://harvesterhci.io/","name":"Harvester","potentialAction":{"@type":"SearchAction","target":"https://harvesterhci.io/search/{search_term_string}/","query-input":"required name=search_term_string"}}</script>
	<script type="application/ld+json">{"@context":"https://schema.org","@type":"Organization","url":"https://harvesterhci.io/","name":"Harvester","logo":"https://harvesterhci.io/images/harvester-logo.png"}</script>

	<style>.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
	<link rel="icon" href="../images/cropped-logo_icon-32x32.png" sizes="32x32">
	<link rel="icon" href="../images/cropped-logo_icon-192x192.png" sizes="192x192">
	<link rel="apple-touch-icon" href="../images/cropped-logo_icon-180x180.png">

	<!-- github buttons -->
	<script async defer src="https://buttons.github.io/buttons.js"></script>
	<script type="text/javascript" src="//cdn.bizible.com/scripts/bizible.js" async=""></script>
</head>
<body>
	{{ if .Site.Params.gtm_id}}
		<noscript>
			<iframe src="//www.googletagmanager.com/ns.html?id={{ .Site.Params.gtm_id }}" height="0" width="0" style="display:none;visibility:hidden">
			</iframe>
		</noscript>
	{{ end }}
	{{ partial "header" . }}
	{{ block "main" . }}{{ end }}
	{{ partial "footer" . }}
</body>
</html>