<header id="lc-header">
  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{{ .Site.BaseURL }}">
        <img src="../images/logo_horizontal.svg" alt="" loading="" style="height: 40px;" height="40" width="199">
      </a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#myNavbar1" aria-controls="myNavbar1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <!-- nav -->
      {{ with .Site.Menus.main }}

      <div class="navbar-collapse collapse" id="myNavbar1" style="" aria-expanded="false">
        <div class="live-shortcode ml-auto primary-menu" style=""> <!--  lc_nav_menu --> 
          <div class="menu-primary-container">
            <ul id="menu-primary" class="navbar-nav d-flex align-items-center" itemscope="" itemtype="http://www.schema.org/SiteNavigationElement">
              {{ range . }}
              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-15 nav-item">
                <a itemprop="url" href="{{ .URL }}" class="nav-link" target="_blank">
                  <span itemprop="name">{{ .Name }}</span>
                </a>
              </li>
              {{ end }}
              <li class="btn btn-secondary icon-github menu-item menu-item-type-custom menu-item-object-custom menu-item-16 nav-item">
                <a itemprop="url" href="{{ $.Site.Params.github }}" class="nav-link">
                  <span itemprop="name">Github</span>
                </a>
              </li>
            </ul>
          </div> <!-- /lc_nav_menu --> 
        </div>
      </div>
      {{ end }}
    </nav>
  </div>
  </header>